* {
    box-sizing:border-box;
}


body {

    margin:0;

    min-height:100vh;

    font-family:'Inter',sans-serif;

    overflow:hidden;

    color:white;

}



/* ФОН */

.background {

    position:fixed;

    inset:0;


    background:
    linear-gradient(
        rgba(0,0,0,.45),
        rgba(0,0,0,.65)
    ),
    url("images/fon.jpg");


    background-size:cover;

    background-position:center;

    z-index:-1;

}



/* 🌸 САКУРА */

#sakura-container {

    position:fixed;

    inset:0;

    overflow:hidden;

    pointer-events:none;

    z-index:1;

}



.petal {

    position:absolute;

    top:-30px;

    color:#ffb7d5;

    font-size:20px;

    animation:fall linear infinite;

}



@keyframes fall {


    0% {

        transform:
        translateY(-30px)
        translateX(0)
        rotate(0deg);

    }


    50% {

        transform:
        translateY(50vh)
        translateX(40px)
        rotate(180deg);

    }


    100% {

        transform:
        translateY(110vh)
        translateX(-40px)
        rotate(360deg);

    }

}



/* ОСНОВА */

.container {

    width:100%;

    max-width:500px;

    min-height:100vh;

    margin:auto;


    padding:25px 20px;


    display:flex;

    flex-direction:column;

    align-items:center;


    position:relative;

    z-index:2;

}



/* БАННЕР */

.wood-banner {

    width:100%;

    height:180px;


    background:url("images/banner.jpg");


    background-size:cover;

    background-position:center;


    border-radius:25px;


    box-shadow:
    0 20px 60px rgba(0,0,0,.7);

}



/* МЕНЮ */

.menu {

    width:100%;

    margin-top:250px;

    display:flex;

    flex-direction:column;

    gap:15px;

}



/* КНОПКИ */

.shop-button {

    width:100%;

    height:60px;


    border-radius:20px;


    border:none;


    background:rgba(15,15,15,.9);


    color:white;


    font-size:20px;


    font-weight:700;


    cursor:pointer;


    transition:.3s;


    box-shadow:
    0 10px 30px rgba(0,0,0,.6);

}



.shop-button:hover {

    transform:scale(1.03);


    box-shadow:
    0 0 30px orange;

}